fastapi
uvicorn
firebase-admin
langchain
langchain-huggingface
chromadb
sentence-transformers
fuzzywuzzy
numpy
autogen-agentchat
autogen-core
autogen-ext
pydantic
requests
streamlit
torch
python-dotenv 
