fastapi
uvicorn
firebase-admin
langchain-huggingface
langchain-community
chromadb
sentence-transformers
fuzzywuzzy
python-Levenshtein
numpy
autogen-core==0.6.1
autogen-ext==0.6.1
autogen-agentchat==0.6.1
pydantic
requests
python-dotenv
huggingface-hub
torch 
