fastapi
uvicorn
firebase-admin
langchain
langchain-huggingface
chromadb
sentence-transformers
fuzzywuzzy
numpy
autogen-core
autogen-ext
autogen-agentchat
tiktoken
pydantic
requests
streamlit
torch
python-dotenv
huggingface-hub 
langchain_community
openai>=1.0.0
