fastapi
uvicorn
firebase-admin
langchain-huggingface
langchain-community
chromadb
sentence-transformers
fuzzywuzzy
python-Levenshtein
numpy
autogen-agentchat
autogen-core
autogen-ext
pydantic
requests
python-dotenv
huggingface-hub
torch 
