fastapi
uvicorn
firebase-admin
langchain
langchain-huggingface
chromadb
sentence-transformers
fuzzywuzzy
numpy
autogen-core==0.6.1
autogen-ext==0.6.1
autogen-agentchat==0.6.1
tiktoken
pydantic
requests
streamlit
torch
python-dotenv
huggingface-hub 
langchain_community
openai>=1.0.0
